# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
/JavaApplication1/nbproject/private/
/JavaApplication1/build/
/JavaApplication2/nbproject/private/
/JavaApplication2/build/
/JavaApplication3/nbproject/private/
/JavaApplication3/build/
/PhpProject1/nbproject/private/
/JavaApplication4/nbproject/private/
/JavaApplication4/build/
/WebApplication1/nbproject/private/
/WebApplication1/build/
/JavaApplication1/dist/
/JavaApplication2/dist/
/JavaApplication3/dist/
/JavaApplication4/dist/
/FirstServlet/nbproject/private/
/FirstServlet/build/
/RedirectWeb/nbproject/private/
/RedirectWeb/build/
/adv-java/JavaApplication/nbproject/private/
/adv-java/JavaApplication/build/
/adv-java/JavaFXApplication1/nbproject/private/
/adv-java/GUIFormExamples/nbproject/private/
/adv-java/GUIFormExamples/build/
/adv-java/JavaFXSwingApplication/nbproject/private/
/adv-java/JavaApplication/dist/
/Mysql/FirstServlet/build/
/Mysql/FirstServlet/nbproject/private/
/Mysql/JavaApplication1/build/
/Mysql/JavaApplication1/dist/
/Mysql/JavaApplication1/nbproject/private/
/Mysql/JavaApplication2/build/
/Mysql/JavaApplication2/dist/
/Mysql/JavaApplication2/nbproject/private/
/Mysql/JavaApplication3/build/
/Mysql/JavaApplication3/dist/
/Mysql/JavaApplication3/nbproject/private/
/Mysql/JavaApplication4/build/
/Mysql/JavaApplication4/dist/
/Mysql/JavaApplication4/nbproject/private/
/Mysql/WebApplication1/build/
/Mysql/WebApplication1/nbproject/private/
/MongoDB/JavaApplication1/nbproject/private/
/MongoDB/JavaApplication1/build/